*{
  margin: 0;
  padding: 0;
  /*background:  transparent;*/
  background:rgba(154, 120, 217, 0); 
}
.contenedor{
  background: transparent;
/*background: linear-gradient(0deg,rgba(74, 72, 72, 0.32) 0%, rgba(196, 196, 192, 0.25) 100%);*/
  padding:25px;
  /*
  border: 1.5px solid #B6f7fa;
  border-radius: 35px;*/ 
}

.trasparent{
  background: rgba(245,40,145,0.02)
}

.estilo-hora{
  color: rgba(247, 195, 222, 1) ;
}

.circulo{
  background: transparent;
  border-radius: 2rem;
  padding: 20px;
  border-radius: 100%;
  border: 5px solid #1C3AFF;
  border-style: dashed ;
}

.lineas{
  background: #4A0074;
  padding: 150px;
  border-radius: 100%;
  border: 6px solid #B131FA;
  border-style: dashed; 
 }
